HELP.md
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.springBeans
.sts4-cache
*.class
target/*
*/target/*
*.settings
*.project
*.factorypath


/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.txt
.flattened-pom.xml
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
######gradle#######
.gradle
.gradle/*
/doc/.back_云上妇幼/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

package-lock.json